<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/libraries/jquery-2.2.2.min.js"></script>
    <link type="text/css" href="../static/css/libraries/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/libraries/bootstrap.min.js"></script>
    <link type="text/css" href="../static/css/catalog.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/master.js"></script>
    <script type="text/javascript" src="../static/js/catalog/catalog.js"></script>
</head>
<body>

    {% include "partials/header.html" %}

    <div class="content">
        <div class="container-fluid">

            <div id="categoriesContainer" class="col-md-3">
                <h2 id="categoriesHeader">
                    Categories
                    <button type="button" class="btn btn-success btn-circle btn-add"
                        data-toggle="modal" data-target="#addCategory" data-add="btnAddCategory">
                    <i class="glyphicon glyphicon-plus"></i>
                    </button>
                </h2>

                {% include "partials/catalog_categories.html" %}
            </div>

            <div id="itemsContainer" class="col-md-9">
                {% include "partials/catalog_items.html" %}
            </div>

        </div>
    </div>


    {######################
    Modals
    #######################}
    <div id="addCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <h3>Add Category</h3>
                </div>
                <div class="modal-body">
                    {% include "partials/addcategory.html" %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-success add-confirm" data-dismiss="modal">Add Category</button>
                </div>
            </div>
        </div>
    </div>

    <div id="editCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <h3>Edit Category</h3>
                </div>
                <div class="modal-body">
                    {% include "partials/editcategory.html" %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-success edit-confirm" data-dismiss="modal">Save Changes</button>
                </div>
            </div>
        </div>
    </div>

    <div id="deleteCategory" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="glyphicon glyphicon-remove"></i>
                    </button>
                    <h3>Edit Category</h3>
                </div>
                <div class="modal-body">
                    {% include "partials/deletecategory.html" %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-link" data-dismiss="modal">
                        Cancel
                    </button>
                    <button class="btn btn-danger delete-confirm" data-dismiss="modal">Delete</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>