<div class="viewItemContainer">
    <div class="container-fluid">
        <div class="row">
            {% if items[0].image_id %}
            <div class="viewItemImageContainer">
                <img class="viewItemImage" src="static/img/{{ items[0].image_id}}{{items[0].image.extension }}" />
            </div>
            {% else %}
            <div class="viewItemNoImage">
                <div class="viewItemNoImageText">
                    <i class="glyphicon glyphicon-camera viewItemNoImageIcon"></i>
                    <p>No Image Available</p>
                </div>
            </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="viewItemName">
                    <p>{{ items[0].name }}</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="viewItemCategory">
                    <p>Category: {{ categories[0].name }}</p>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-12">
                <div class="viewItemDescriptionWrapper">
                    <p class="viewItemDescription">{{ items[0].description }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
