<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="itemName">
                <p>{{ items[0].name }}</p>
            </div>

            <div class="itemCategory">
                <p>{{ categories[0].name }}</p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="imageContainer noImage">
                <input type="file" class="fileInput" id="itemImageUpload">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <p>{{ items[0].description }}</p>
        </div>
    </div>
</div>
