<form id="newItemForm">
    <label for=name>Name</label>
    <input type="text" class="nameInput" id="name" name="name" placeholder="Item Name"/>


    <label for="itemDescription">Description</label>
    <textarea id="itemDescription" name="itemDescription" placeholder="Enter the description for your item">
    </textarea>

    <label for="category">Category</label>
    <select name="itemCategory" id="itemCategory">
    {% for category in data %}
        {% if category %}
            <option value="{{ category.category_id }}">{{ category.name }}</option>
        {% endif %}
    {% endfor %}
    </select>
</form>