<div id="categories" class="col-md-3">
    {% if data %}
    <ul>
        {% for category in data %}
        <li>
            <div class="categoryWrapper">
                <a id="{{ category.category_id }}" class="categoryLink" href="#">
                    {{ category.name }}
                </a>
                <a class="categoryIcon btn-edit" href="#" data-toggle="modal"
                        data-target="#editCategory" data-edit="#confirmEditCategory">
                    <i class="glyphicon glyphicon-pencil"></i>
                </a>
                <a class="categoryIcon btn-delete" href="#" data-toggle="modal"
                        data-target="#deleteCategory" data-delete="#confirmDeleteCategory">
                    <i class="glyphicon glyphicon-remove"></i>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <span id="noCategories">No categories have been added.</span>
    {% endif %}
</div>