<div id="items" class="col-md-9">
    {% if data %}
    <ul>
        {% for item in data %}
        <li>
            <a class="itemLink" href="#">
                <img class="itemThumbnailImage" src="http://dummyimage.com/200x150/335/DDD" />
                <span class="itemNameLabel">{{ item.name }}</span>
            </a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div id="noItems">
        <span>There are no items available for this category.</span>
    </div>
    {% endif %}
</div>