<div id="items" class="col-md-9">
    {% if items %}
    <ul>
        {% for item in items %}
        <li data-categoryid="{{ item.category.category_id }}">
            <div class="listItemWrapper">
                <a class="itemLink" href="#">
                    <img class="itemThumbnailImage" src="http://dummyimage.com/200x150/335/DDD" />
                    <div class="mask">
                        <p>{{ item.description }}</p>
                        <button type="button" class="btn btn-primary btn-sm btnViewItem">View</button>
                    </div>
                    <span class="itemNameLabel">{{ item.name }}</span>
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div id="noItems">
        <span>There are no items available for this category.</span>
    </div>
    {% endif %}
</div>