body { padding-top: 100px; }

#header .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand {
    float: left;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}


/**************
Buttons
***************/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42857149;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 30px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-add {
    margin-left: .5em;
}


/******************
Categories
******************/
#categories {
    white-space: nowrap;
    padding-top: 25px;
}

#noCategories {
    font-style: italic;
}

/*
 Categories List Styling
 Adapted from http://designshack.net/articles/css/5-simple-and-practical-css-list-styles-you-can-copy-and-paste/
*/
#categoriesContainer iv {
  width: 200px;
}

#categoriesContainer h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

#categoriesContainer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#categoriesContainer li {
  font: 200 14px/1.5 Helvetica, Verdana, sans-serif;
  border-bottom: 1px solid #ccc;
}

#categoriesContainer li:last-child {
  border: none;
}

#categoriesContainer li a {
  text-decoration: none;
  color: #000;
  display: block;
  width: 200px;

  -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
  -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
  -o-transition: font-size 0.3s ease, background-color 0.3s ease;
  -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
  transition: font-size 0.3s ease, background-color 0.3s ease;
}

#categoriesContainer li a:hover {
  font-size: 16px;
  background: #f6f6f6;
}