body { padding-top: 100px; }

#header .container {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}

.navbar-brand {
    float: left;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}


/**************
Buttons
***************/
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42857149;
    border-radius: 15px;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 30px;
    line-height: 1.33;
    border-radius: 25px;
}

.btn-add {
    margin-left: .5em;
}


/******************
Categories
******************/
#categories {
    white-space: nowrap;
    padding-top: 25px;
}

#noCategories {
    font-style: italic;
}

