<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Catalog</h1>

    <p>
        <a href="{{ url_for("newItem") }}">Add Item</a>
    </p>

    <div class="categories">
        <h3>Categories</h3>
        {% if not categories %}
        <div class="noCategories">
            <p>No categories available.</p>
        </div>
        {% else %}
        <div class="categoriesList">
            <ul>
                {% for category in categories %}
                <li>{{ category.name }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
    <div class="latestItems">
        <h3>Latest Items</h3>
        {% if not latest_items %}
        <div class="noLatestItems">
            <p>No items have been recently updated</p>
        </div>
        {% else %}
        <div class="latestItemsList">
            <ul>
                {% for item in latest_items %}
                <li>
                    <a href="{{ url_for("viewItem", item_id=item.item_id, category_id=item.category.category_id) }}">{{ item.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</body>
</html>