<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1>Catalog</h1>

    <h3>{{ category.name }}</h3>

    <div class="categoryDiv">
        <form class="editCategoryForm" action="{{ url_for("editCategory",
                category_id = category.category_id) }}" method="post">

            <label for=name>Name</label>
            <input type="text" class="nameInput" id="name" name="name" value="{{ category.name }}"/>
            <br/>

            <input type="submit" value="Save" class="editCategorySubmit"/>
            <a href="{{ url_for("viewCategory", category_id=category.category_id) }}">Cancel</a>
        </form>
    </div>
</body>
</html>