<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="../static/js/libraries/jquery-2.2.2.min.js"></script>
    <link type="text/css" href="../static/css/libraries/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/libraries/bootstrap.min.js"></script>
    <link type="text/css" href="../static/css/catalog.css" rel="stylesheet">
    <script type="text/javascript" src="../static/js/master.js"></script>
    <script type="text/javascript" src="../static/js/catalog/login.js"></script>
    <script src="https://apis.google.com/js/platform.js?onload=start" async defer> </script>
</head>
<body>

    {% include "partials/header.html" %}

    <div class="content">
        <div id="signinContainer">
            <h3 id="signInHeader">
                Log In
            </h3>
            <p id="signInDescription">
                Sign in with one of the following:
            </p>
            <div id="signInBtnContainer">
                <div id="signInBtns">
                    <div id="gplusSigninBtn">
                        <div class="g-signin"
                            data-scope="openid email"
                            data-clientid="1051491531531-dg1cqrmqv28hmrd8jv60trm2sir9o3is.apps.googleusercontent.com"
                            data-redirecturi="postmessage"
                            data-accesstype="offline"
                            data-cookiepolicy="single_host_origin"
                            data-callback="signInCallback"
                            data-approvalprompt="force"
                            >
                        </div>
                    </div>

                    <fb:login-button id="fbSignInBtn" scope="public_profile,email" onlogin="sendTokenToServer();"
                                     data-size="large">
                        Sign in with Facebook
                    </fb:login-button>
                </div>
            </div>
        </div>
    </div>

    {#  FACEBOOK Sign in#}
    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '195405117518371',
                cookie: true,
                xfbml: true,
                version: 'v2.6'
            });
        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function sendTokenToServer() {
            var access_token = FB.getAuthResponse()['accessToken'];
            FB.api('/me', function (response) {
                $('#fbSignInBtn').attr('style', 'display: none');
                $.ajax({
                    type: 'POST',
                    url: '/fbconnect?state={{STATE}}',
                    processData: false,
                    data: access_token,
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function (result) {
                        // Handle or verify the server response if necessary.
                        if (result) {
                                window.location.href = "/catalog";
                        } else {
                            console.log('Failed to make a server-side call. Check your configuration and console.');
                        }
                    }

                });
            });
        }
    </script>

{#  GOOGLE+ Sign In#}
    <script>
        function signInCallback(authResult) {
            if (authResult['code']) {
                //Hide the sign-in button
                $('#gplusSigninBtn').attr('style', 'display: none');

                //Send the one-time-use code to server
                $.ajax({
                    type: 'POST',
                    url: '/gconnect?state={{STATE}}',
                    processData: false,
                    data: authResult['code'],
                    contentType: 'application/octet-stream; charset=utf-8',
                    success: function(response) {
                        if (response) {
                                window.location.href = "/catalog";
                        }
                        else if (authResult['error']) {
                            console.log('There was an error: ' + authResult['error']);
                        }
                        else {
                            console.log('Failed to make a server-side call. Check your config and console.');
                        }
                    },
                    error: function(error) {
                        console.log(error.message);
                    }
                });
            }
        }
    </script>
</body>
</html>