<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1>Catalog</h1>

    {% if category_id %}
    <h3>New Item in: <b>{{ categories[0].name }}</b></h3>
    {% else %}
    <h3>New Item</h3>
    {% endif %}

    <div class="newItemDiv">
        <form class="newItemForm" action="{{ url_for("newItem") }}" method="post">
            <label for=name>Name</label>
            <input type="text" class="nameInput" id="name" name="name"/>
            <br/>

            <label for="description">Description</label>
            <textarea class="descriptionTextarea" id="description" name="description"></textarea>
            <br/>

            <label for="category">Category</label>
            <select name="category" id="category">
            {% for category in categories %}
                {% if category %}
                    <option value="{{ category.category_id }}">{{ category.name }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <br/>

            <input type="submit" value="Submit" class="newItemSubmit"/>
            <a href="{{ url_for("catalog") }}">Cancel</a>
        </form>
    </div>
</body>
</html>