<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1>Catalog</h1>
    <a href="{{ url_for("catalog") }}">Return to List</a>

    <h3>{{ item.name }}</h3>
    <div class="itemDiv">
        <p class="itemDescription">{{ item.description }}</p>
        <div class="itemCategory">
            Category: <a href="#">{{ item.category.name }}</a>
        </div>
    </div>
    <div class="itemOptions">
        <a href="{{ url_for("editItem", item=item, category=item.category) }}">Edit</a>
        <a href="{{ url_for("deleteItem", item=item, category=item.category) }}">Delete</a>
    </div>
</body>
</html>