<!DOCTYPE html>
<html lang="en">
<head></head>
<body>
    <h1>Catalog</h1>

    <h3>{{ item.name }}</h3>

    <div class="itemDiv">
        <form class="editItemForm" action="{{ url_for("editItem",item=item, category=item.category) }}"
              method="post">

            <label for=name>Name</label>
            <input type="text" class="nameInput" id="name" name="name" value="{{ item.name }}"/>
            <br/>

            <label for="description">Description</label>
            <textarea class="descriptionTextarea" id="description"
                      name="description">{{ item.description }}</textarea>
            <br/>

            <label for="category">Category</label>
            <select name="category" id="category">
            {% for category in categories %}
                {% if category %}
                    {% if category.category_id == item.category_id %}
                        <option value="{{ category.category_id }}" selected="selected">{{ category.name }}</option>
                    {% else %}
                        <option value="{{ category.category_id }}">{{ category.name }}</option>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </select>
            <br/>

            <input type="submit" value="Save" class="editItemSubmit"/>
            <a href="{{ url_for("viewItem", item=item, category=item.category) }}">
                Cancel
            </a>
        </form>
    </div>
</body>
</html>