<div id="categories" class="col-md-3">
    {% if categories %}
    <ul>
        {% for category in categories %}
        <li>
            <div class="categoryWrapper">
                <a id="{{ category.category_id }}" class="categoryLink" href="#">
                    {{ category.name|truncate(50) }}
                </a>
                {% if session['username'] and category.user_id == session['user_id']  %}
                    <a class="categoryIcon btn-edit" href="#" data-toggle="modal"
                            data-target="#editCategory" data-edit="#confirmEditCategory">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                    <a class="categoryIcon btn-delete" href="#" data-toggle="modal"
                            data-target="#deleteCategory" data-delete="#confirmDeleteCategory">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <span id="noCategories">No categories have been added.</span>
    {% endif %}
</div>